{% load static %}

<!-- NAVBAR STYLING -->
<nav class="navbar navbar-light navbar-expand-md fixed-top primary">
    <div class="container-fluid">
        <a href="{% url 'home' %}" class="navbar-brand" alt-text="reachout logo"></a>
        <button id="menu-toggle-button" class="navbar-toggler"
            type="button" data-toggle="collapse" data-target="#navbarResponsive"
            aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item active">
                    <a class="navlink" href="{% url 'home' %}">Home</a>
                </li>
                <li class="nav-item">
                    <a class="navlink" href="">Login</a>
                </li>
                <li class="nav-item dropdown">
                    <a class="navlink dropdown-toggle" data-toggle="dropdown" href="#" id="navbarDropdownMenuLink"
                        role="button" data-bs-toggle="dropdown" aria-expanded="false">
                        Reach Out
                    </a>
                    <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                        <li><a class="dropdown-item" href="">Send</a></li>
                        <li><a class="dropdown-item" href="">Search</a></li>
                    </ul>
                </li>
                <li class="nav-item">
                    <a class="navlink" href="">How To</a>
                </li>
                <li class="nav-item">
                    <a class="navlink" href="{% url 'about_us' %}">About Us</a>
                </li>
            </ul>
        </div>
    </div>
</nav>